<h4>Dear Sir/Madam </h4>

<p> Hope you are doing well! </p>
<p> You have been added to the meeting <%= @meeting.subject %></p>
<p> The joining link is <%= @url %></p> 

<br>
<p>Thank you </p>
<br>

<h6>Regards</h6>
<p>Sanju Basnet</p>
<p>9812345678</p>